    .b-controls>div {
        float: left;
        border: 1px solid #656565;
        background-color: #555555;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        cursor: pointer;
        padding: 7px 17px;
        margin-right: 20px;
    }
        .b-controls>div i {
            opacity: 0.6;
        }
        .b-controls>div:hover {
            border: 1px solid #757575;
        }
            .b-controls>div:hover i {
                opacity: 0.85;
            }
    .b-controls .caret {
        border-bottom-color: #FFFFFF;
        border-top-color: #FFFFFF;
        margin-top: 7px;
        opacity: 0.6;
    }
    .b-controls>div:hover .caret {
        opacity: 0.85;
    }
    .b-controls a,
    .b-controls a:hover {
        border-bottom: 0;
    }

    .b-controls .dropdown-menu {
        background-color: #555555;
        border: 1px solid #656565;
        border-radius: 3px;
        cursor: pointer;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        margin-top: 1px;
    }
    .b-controls .dropdown-menu a {
        color: #FFF;
    }
        .b-controls .dropdown-menu a:hover {
            background-color: #383838;
            background-image: none;
        }

    .b-controls .c-check {
        padding: 3px 5px;
    }
        .b-controls .c-check i {
            border: 1px solid #272727;
            background-image: none;
            background-color: #e5e5e5;
            opacity: 1;
        }
            .b-controls .c-check:hover i {
                opacity: 1;
            }
        .b-controls .c-check.m-checked i {
            background-image: url("../img/glyphicons-halflings.png");
        }